<!DOCTYPE html>
<html lang="es">
       <!-- Include Head -->
<%- include('partials/head', {title: 'About'}) %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <br></br><br></br><br></br><br></br><br></br><br></br></br><br>

    <div class="about">     
        <div class="row">

            <div class="col-12 col-lg-6 ">
                <img src="/images/armonia.jpg" alt="">
            </div>

            <div class="col-12 col-lg-6" >
                <h2>LA IDEOLOGIA QUE DEFINE LOS PRODUCTOS DE COSMETICA VEGANA</h2>
                <br>
                <h5>CONSCIENTE</h5>
                <p> La cosmética consciente es aquella que escucha lo que necesita la piel y lo que va más allá.
                    Realizamos productos respetuosos con tu piel y con la madre tierra.</p>
                    <br>
                <h5>NATURAL</h5>
                <p> La naturaleza nos ofrece todo lo que necesitamos. Por ello aprovechamos su abundancia para elaborar productos con ingredientes naturales.</p>
                <br>
                <h5>VEGANA</h5>
                <p> Línea de cosmética sustentable basada en los principios de la filosofía vegana de respeto y promoción de los derechos de los animales. Por ello, nuestros productos no se testean en animales ni contienen ingredientes de origen animal.</p>
                <br>
        
                <h5>SOSTENIBLE</h5>
                <p>La línea de nuestros productos tiende a una concepción de residuo cero, por lo que hemos eliminado la mayoría de los envases, dando lugar a productos cosméticos sólidos.</p>
                <br>
       
            </div>
        </div>  
    </div> 
    
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>