<!DOCTYPE html>
<html lang="es">
    <!-- Include Head -->
<%- include('partials/head', {title: 'Preguntas Frecuentes'}) %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
    <br></br><br></br><br></br><br></br><br></br><br></br><br><br>
<div class="container">
    <h2>Preguntas Frecuentes</h2>
</br></br>
    <p>
¿Que quiere decir que la marca sea 100% vegana?
<br>
No utilizamos ningun derivado animal en la fórmula de las cremas, y las mismas no son testeadas en animales como se acostumbra.
<br><br>
¿Los productos son libres de T.A.C.C?
<br>
Si, todos la linea Veganis son productos libres de trigo, avena, centeno y cebada
<br><br>
¿Qué formas de pago puedo aprovechar para realizar mi compra?
<br>
En el pie de la pagina figuran todas las formas de pago posibles.
<br><br>
¿Cuál es el costo de envío?
<br>
El costo de envío será mostrado en base al total de la compra y ubicación, en el checkout, en el momento previo a la compra.
<br><br>
¿Cómo se realizan los envíos?
<br>
En el pie de la pagina figuran todas las formas de pago posibles.
<br><br>
¿Dónde puedo recibir mi pedido?
<br>
Realizamos envíos a todo el país.
<br><br>
¿Cuánto tarda en llegar el pedido?
<br>
El tiempo de entrega dependerá del tipo de envío seleccionado. En general la demora se encuentra entre 3 y 7 días hábiles luego de acreditado el pago.
    </p>
</div>
<br><br><br><br>
<div class="vegan">
    <img src="/images/img-vegan.png" alt="">
</div>
    	<!-- footer -->
	<%- include('partials/footer') %>
</body>
</html>