<!DOCTYPE html>
<html lang="es">
    <!-- Include Head -->
<%- include('partials/head', {title: 'Home'}) %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <br></br><br></br><br></br><br></br><br></br><br></br></br>
    <!-- img -->
     <div class="row">
       <div class="col-12 col-sm-4 ">
        <img src="/images/home1.jpg" alt="">
       </div>
       <div class="col-12 col-sm-4 ">
        <img src="/images/home3.jpeg" alt="">
       </div>
       <div class="col-12 col-sm-4 ">
        <img src="/images/home2.jpg" alt="">
       </div>
    </div>
  <!-- banner -->
    <div class="banner">
        <img src="/images/banner.jpg" alt="">
    </div>
    <br></br><br></br>
    
    <div class="container">
        <h2>COMPRA DESDE TU HOGAR Y RECIBÍ TU PEDIDO SIN MOVERTE DE TU CASA</h2>
        <br></br>
        <h3>Promociones</h3>
        
        <div class="row">
            <div class="col-12 col-sm-3 ">
             <img src="/images/destacado1.jpg" alt="SHAMPOO DOBLE + ACONDICIONADOR">
             <p>SHAMPOO DOBLE + ACONDICIONADOR</p>
             <h4>$1.928,00</h4>
            </div>
            <div class="col-12 col-sm-3 ">
             <img src="/images/destacado2.jpeg" alt="SHAMPOO SÓLIDO">
             <p>SHAMPOO SÓLIDO </p>
             <h4>$670,00</h4>
            </div>
            <div class="col-12 col-sm-3 ">
             <img src="/images/destacado3.jpg" alt="PASTA DENTAL SÓLIDA DE MENTA">
             <p>PASTA DENTAL SÓLIDA DE MENTA </p>
             <h4>$480,00</h4>
            </div>
            <div class="col-12 col-sm-3 ">
                <img src="/images/destacado4.jpg" alt="PASTA DENTAL + JABONERA">
                <p>PASTA DENTAL + JABONERA </p>
                <h4>$646,00</h4>
               </div>
         </div>
         <br></br><br></br>
         
    </div>

    <div class="vegan">
        <img src="/images/img-vegan.png" alt="">
    </div>

</body>

<!-- Footer -->
<%- include('partials/footer') %>
</html>