<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Home'}) %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <%- include('partials/headerNavbar') %>
    <br></br><br></br><br></br><br></br><br></br><br></br><br><br><br><br>
   
    Bienvenido/a!
    			
    <!--<a class="nav-link" href="/logout %>">CERRAR SESION <span class="sr-only">(current)</span></a> -->
    
</body>
<%- include('partials/footer') %>
</html>